mixin menu-side()
    .menu-side&attributes(attributes)
        section.menu-side__section
            h3.menu-side__title
                a(href="#").menu-side__title-link О нас
            ul.menu-side__menu
                li.menu-side__item
                    a(href="#").menu-side__link Кто мы
                    ul.menu-side-sub
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link История
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Во что мы верим
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Наше видение
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Наш пастор
                li.menu-side__item
                    a(href="#").menu-side__link Новое начало с богом
                li.menu-side__item
                    a(href="#").menu-side__link Я здесь впервые
                li.menu-side__item
                    a(href="#").menu-side__link Истории
        
        section.menu-side__section
            h3.menu-side__title
                a(href="#").menu-side__title-link Присоединиться
            ul.menu-side__menu
                li.menu-side__item
                    a(href="#").menu-side__link Малые группы
                    ul.menu-side-sub
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Найти группу
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Начать свою группу
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Готов принимать в свою группу
                li.menu-side__item
                    a(href="#").menu-side__link Служения
                    ul.menu-side-sub
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Обзор служений
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Творчество
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Служение «Обновление»
                li.menu-side__item
                    a(href="#").menu-side__link Календарь событий
                    ul.menu-side-sub
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Обзор событий
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Семинары «ШАГ»
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Крещение
        section.menu-side__section
            h3.menu-side__title
                a(href="#").menu-side__title-link Помощь
            ul.menu-side__menu
                li.menu-side__item
                    a(href="#").menu-side__link Благотворительные фонды
                    ul.menu-side-sub
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Яркая жизнь
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Я ЕСТЬ
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link ОТВЕТ
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Дар в будущее
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Академия радости
                li.menu-side__item
                    a(href="#").menu-side__link Консультации
                li.menu-side__item
                    a(href="#").menu-side__link Молитва
                li.menu-side__item
                    a(href="#").menu-side__link Линия Доверия
                li.menu-side__item
                    a(href="#").menu-side__link Реабилитационные центры
        section.menu-side__section
            h3.menu-side__title
                a(href="#").menu-side__title-link Медиа
            ul.menu-side__menu
                li.menu-side__item
                    a(href="#").menu-side__link Проповеди
                    ul.menu-side-sub
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Трансляция
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Текущий цикл
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Архив циклов
                li.menu-side__item
                    a(href="#").menu-side__link Видео
                    ul.menu-side-sub
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Все видео
                         li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Архиы трансляций
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Видео для малых групп
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Православение
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Передачи «Благословление»
        section.menu-side__section
            h3.menu-side__title
                a(href="#").menu-side__title-link Контакты
            ul.menu-side__menu
                li.menu-side__item
                    a(href="#").menu-side__link Филиалы
                    ul.menu-side-sub
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Колизей
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Гостиница СПБ
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Серебристый
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Балканы
                        li.menu-side-sub__item
                            a(href="#").menu-side-sub__link Ленинградская обл.
