.email
    &__label
        color rgba(255,255,255,.25)
        font()
        font-size 15px
        line-height 1
        margin 0 0 20px

    &__email
        display block
        color #faa926
        font(Bold)
        font-size 24px
        font-weight 700
        line-height 25px
        text-decoration none
        margin 0
        transition color .3s ease
        &:hover
            color @color
            text-decoration none
            +above(desktop)
                color white

