label.invalid-field
    display block
    width 100%
    color red
    font()
    font-size 14px
    line-height 1
    text-align center
    padding 0px 20px
    margin -10px auto 15px
    &.hidden
        display none !important


.input
    // max-width 370px
    &__label
        display none
        +above(1152px)
            color #231f20
            font(Bold)
            font-size 18px
            line-height 1
            margin 0 0 20px
            display block

    &__input
        width 100%
        height 50px
        background-color #f7f7f7
        box-shadow inset 2px 2px 0 #ededed
        border none
        outline none
        color #231f20
        font()
        font-size 16px
        line-height 50px
        padding 0 20px
        margin 0
        &:hover
            background-color #f2f2f2
        &::-webkit-input-placeholder
            color #231f20
            opacity 1
        &::-moz-placeholder
            color #231f20
            opacity 1
        &:-moz-placeholder
            color #231f20
            opacity 1
        &:-ms-input-placeholder
            color #231f20
            opacity 1
        &:input-placeholder
            color #231f20
            opacity 1
        +above(1152px)
            font-size 18px
            &::-webkit-input-placeholder
                color #bcbcbc
            &::-moz-placeholder
                color #bcbcbc
            &:-moz-placeholder
                color #bcbcbc
            &:-ms-input-placeholder
                color #bcbcbc
            &:input-placeholder
                color #bcbcbc
            &--name
                &::-webkit-input-placeholder
                    color transparent
                &::-moz-placeholder
                    color transparent
                &:-moz-placeholder
                    color transparent
                &:-ms-input-placeholder
                    color transparent
                &:input-placeholder
                    color transparent
        .form-donate &
            +above(1152px)
                height 70px
                line-height 72px

.checkbox
    &__checkbox
        display inline-block
        padding 0
        margin 0
        opacity 0

    &__label
        display block
        color white
        font()
        font-size 14px
        line-height 20px
        margin 0
        padding 0px 0 0 40px
        position relative
        cursor pointer
        &::before
            content ""
            display block
            width 24px
            height 24px
            border 2px solid #e9e9e9
            background-color transparent
            position absolute
            top 0
            left 0
        &::after
            content ""
            display none
            width 13px
            height 5px
            border-left 2px solid white
            border-bottom 2px solid white
            position absolute
            top 8px
            left 6px
            transform rotate(-45deg)

        a
            color white
            text-decoration none
            &:hover
                text-decoration underline
        +above(1152px)
            padding-top 3px
            color #231f20
            a
                color #1a4382

    &__checkbox:checked + &__label
        &::before
            background-color #faa926
            border-color #faa926
        &::after
            display block

.button-submit
    display inline-block
    height 50px
    background-color #1a4382
    border none
    outline none
    color white
    font(Extra)
    font-size 15px
    letter-spacing .025em
    line-height 52px
    text-transform uppercase
    text-align center
    text-decoration none
    padding 0 20px
    position relative
    cursor pointer
    &--wide
        display block
        width 100%
    span
        position relative
        z-index 2
    &::before
    &::after
        content ""
        display block
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        transition opacity .3s ease
    &::before
        opacity 1
        background-image linear-gradient(135deg, #387fc0 0%, #1f4388 100%)
    &::after
        opacity 0
        background-image linear-gradient(135deg, #14beeb 0%, #1c77bc 100%)
    &:hover
        color white
        text-decoration none
        &::before
            opacity 0
        &::after
            opacity 1

    .form-donate &
        background-color #f3a62d
        +above(1152px)
            height 70px
            line-height 72px
        &::before
            background-image linear-gradient(135deg, #faa926 0%, #e38225 100%)
        &::after
            background-image linear-gradient(135deg, #ef9523 0%, #e22527 100%)



.jq-selectbox
    vertical-align middle
    cursor pointer
    width 100%

    &__select
        width 100%
        height 50px
        padding 0 45px 0 20px
        background-color #f7f7f7
        box-shadow inset 2px 2px 0 #ededed
        border none
        color #bcbcbc
        font()
        font-size 16px
        line-height 50px
        padding 0 20px
        margin 0
        position relative
        transition all .3s ease
        &:hover
        &:active
        ^[0].focused &
            background-color #f2f2f2
            color #231f20
        +above(1152px)
            font-size 18px
        &::after
            content ""
            display block
            width 7px
            height 7px
            border-right 2px solid #848484
            border-bottom 2px solid #848484
            transform rotate(45deg)
            position absolute
            top 22px
            right 20px
        .filter-media &
            +below(1151px)
                background-color #fff

    &__select-text
        display block
        overflow hidden
        width 100%
        white-space nowrap
        text-overflow ellipsis


    // &__trigger
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     width: 34px;
    //     height: 100%;
    //     border-left: 1px solid #CCC;

    // &__trigger-arrow
    //     position: absolute;
    //     top: 14px;
    //     right: 12px;
    //     width: 0;
    //     height: 0;
    //     border-top: 5px solid #999;
    //     border-right: 5px solid transparent;
    //     border-left: 5px solid transparent;

    &__dropdown
        width 100%
        padding 0
        background-color #231f20
        box-shadow 0 1px 35px rgba(2, 2, 2, 0.2)
        transition all .3s ease

    ul
        margin 0
        padding 0
        list-style none

    li
        min-height 50px
        padding 0 20px
        user-select none
        white-space nowrap
        color white
        font()
        font-size 15px
        line-height 50px
        transition all .2s ease
        &.selected
        &:hover
            background-color #2b2627
            color #faa927

