mixin social()
    .social&attributes(attributes)
        a(href="http://vk.com" target="_blank" rel="nofollow" role="button").social__icon
        a(href="http://facebook.com" target="_blank" rel="nofollow" role="button").social__icon
        a(href="http://twitter.com" target="_blank" rel="nofollow" role="button").social__icon


