.social
    display none
    +above(1152px)
        display flex
        flex-flow row nowrap
        justify-content space-between
        align-items center
        width 97px
        height 14px
    &--side
        display flex
        flex-flow row nowrap
        justify-content space-between
        align-items center
        width 140px
        height 14px


    &__icon
        flex 0 0 auto
        display block
        position relative
        margin 0

        &::before
        &::after
            content ""
            transition opacity .3s ease
            position absolute
            top 0
            left 0
            right 0
            bottom 0

        &::before
            opacity 1
            ^[0]--pale &
                opacity .2

        &::after
            opacity 0

        &:hover
            +above(desktop)
                &::before
                    opacity 0
                &::after
                    opacity 1

        &[href*="vk.com"]
            &
            &::before
            &::after
                width 21px
                height 12px
            &::before
                background-image embedurl("../../svg/social-vk.svg", "")
            &::after
                background-image embedurl("../../svg/social-vk-hover.svg", "")

        &[href*="facebook.com"]
            &
            &::before
            &::after
                width 8px
                height 14px
            &::before
                background-image embedurl("../../svg/social-fb.svg", "")
            &::after
                background-image embedurl("../../svg/social-fb-hover.svg", "")

        &[href*="twitter.com"]
            &
            &::before
            &::after
                width 15px
                height 12px
            &::before
                background-image embedurl("../../svg/social-tw.svg", "")
            &::after
                background-image embedurl("../../svg/social-tw-hover.svg", "")


