mixin table()
    table.table&attributes(attributes)
        thead.table__header
            tr.table__header-row
                th.table__th №
                th.table__th Автор
                th.table__th Тема доклада

        tbody.table__body
            
            tr.table__row
                td.table__col
                    div.table__title №
                    div.table__value 1
                td.table__col
                    div.table__title Автор
                    div.table__value Алексей Пахаревский
                td.table__col
                    div.table__title Тема доклада
                    div.table__value Улучшаем нашу связь с Всевышним
            
            tr.table__row
                td.table__col
                    div.table__title №
                    div.table__value 2
                td.table__col
                    div.table__title Автор
                    div.table__value Валентина Знарок
                td.table__col
                    div.table__title Тема доклада
                    div.table__value Курс молодого прихожанина

            tr.table__row
                td.table__col
                    div.table__title №
                    div.table__value 3
                td.table__col
                    div.table__title Автор
                    div.table__value Василий Зайцев
                td.table__col
                    div.table__title Тема доклада
                    div.table__value Как мы можем сделать будущее лучше и светлее

            tr.table__row
                td.table__col
                    div.table__title №
                    div.table__value 4
                td.table__col
                    div.table__title Автор
                    div.table__value Михаил Пантелеев
                td.table__col
                    div.table__title Тема доклада
                    div.table__value Улучшаем нашу связь с Всевышним

            tr.table__row
                td.table__col
                    div.table__title №
                    div.table__value 5
                td.table__col
                    div.table__title Автор
                    div.table__value Валентин Годзен
                td.table__col
                    div.table__title Тема доклада
                    div.table__value Курс молодого прихожанина

            tr.table__row
                td.table__col
                    div.table__title №
                    div.table__value 6
                td.table__col
                    div.table__title Автор
                    div.table__value Александр Маржев
                td.table__col
                    div.table__title Тема доклада
                    div.table__value Как мы можем сделать будущее лучше и светлее

            tr.table__row
                td.table__col
                    div.table__title №
                    div.table__value 7
                td.table__col
                    div.table__title Автор
                    div.table__value Алексей Веслов
                td.table__col
                    div.table__title Тема доклада
                    div.table__value Улучшаем нашу связь с Всевышним

            tr.table__row
                td.table__col
                    div.table__title №
                    div.table__value 8
                td.table__col
                    div.table__title Автор
                    div.table__value Маргарита Бестужевская
                td.table__col
                    div.table__title Тема доклада
                    div.table__value Курс молодого прихожанина
