.slider-header
    display block

    &__slider
        width 100%
        position absolute
        top 0
        left 0
        right 0
        bottom 0

    &__in
        width 100%
        flex 0 0 auto
        align-self center
        max-width 1210px
        padding 20px 20px 20px
        text-align center
        animate-slide()
        +above(1152px)
            padding 120px 20px 20px
            align-self center

    &__slide
        width 100%
        min-height 540px
        background-repeat no-repeat
        background-position center center
        background-size cover
        display flex
        flex-flow row nowrap
        justify-content center
        align-items center
        text-align center
        +above(1152px)
            min-height 100vh
            .ie &
                padding-top 240px
            // min-height 1000px

    &__nav
        display block
        width 100%
        position absolute
        bottom 0px
        height auto
        z-index 100
        +above(1152px)
            bottom 0px

    &__dots
        position relative
        display block
        list-style none
        padding 20px 50px
        margin 0
        font-size 0
        text-align center
        +above(1152px)
            padding 20px 45px

    &__dot
        display inline-block
        vertical-align middle
        width 6px
        height 6px
        background-color #fff
        border-radius 50%
        margin 15px
        cursor pointer
        transition background-color .3s ease
        &.active
            background-color #f3a62d
        &:hover
            +above(desktop)
                background-color #f3a62d

    &__next
    &__prev
        display block
        position absolute
        top 50%
        margin-top -23px
        z-index 150
        +above(1152px)
            display none
    &__prev
        left 20px
    &__next
        right 20px

    &__title
        color white
        font(Light)
        font-size 28px
        line-height 35px
        text-align center
        margin 0 0 20px
        +above(1152px)
            font-size 36px
            line-height 45px


