mixin button-slider-next()
    button(title="Вперед").button-slider.button-slider--next&attributes(attributes)


mixin button-slider-prev()
    button(title="Назад").button-slider.button-slider--prev&attributes(attributes)

