mixin menu-main()
    nav.menu-main&attributes(attributes)
        ul.menu-main__menu
            li.menu-main__item
                a(href="#m-box-about").menu-main__link О нас
            li.menu-main__item
                a(href="#m-box-join").menu-main__link Присоединиться
            li.menu-main__item
                a(href="#m-box-help").menu-main__link Помощь
            li.menu-main__item
                a(href="#m-box-media").menu-main__link Медиа

