.menu-main
    display none
    padding 0

    +above(1152px)
        display block
    &__menu
        display block
        list-style none
        padding 0
        margin 0

    &__item
        display inline-block
        vertical-align top
        color white
        font(Extra)
        font-size 15px
        letter-spacing .025em
        line-height 1
        margin 0
        position relative
        z-index 1000px


    &__link
        color white
        text-decoration none
        padding 0 20px 25px
        text-transform uppercase
        transition all .3s ease
        position relative
        z-index 1000
        ^[0].on &
            color #656262
        &::after
            content ""
            display block
            width 0px
            height 2px
            background-color #faa926
            position absolute
            left 50%
            right 50%
            bottom 0
            transition all .3s ease
        &.active
            color white
            text-decoration none
            &::after
                width 100%
                left 0
                right 0
            ^[0].on &
                color white

        &:hover
            +above(desktop)
                color white
                text-decoration none
                &::after
                    width 100%
                    left 0
                    right 0
                ^[0].on &
                    color white


