mixin team()
    section.team&attributes(attributes)
        

        // Санкт-Петербург
        .team__branch.active
            .team__in
                h2.team__title Служители церкви
                .team__item
                    img(src="assets/img/team/team-1.jpg" alt="").image-framed.image-framed--white.team__photo
                    h3.team__name Даниил Маросейкин
                    p.team__position Старший пастор филиала
                    p.team__descr Дмитрий Шатров работает в церкви с 1990 года. И можно написать еще несколько слов о службе.
                .team__item
                    img(src="assets/img/team/team-2.jpg" alt="").image-framed.image-framed--white.team__photo
                    h3.team__name Татьяна Ступа
                    p.team__position Пастор молитвенного служения
                    p.team__descr Дмитрий Шатров работает в церкви с 1990 года. И можно написать еще несколько слов о службе.
                .team__item
                    img(src="assets/img/team/team-3.jpg" alt="").image-framed.image-framed--white.team__photo
                    h3.team__name Варфоломей Константино&shy;польский
                    p.team__position Старший пастор филиала
                    p.team__descr Дмитрий Шатров работает в церкви с 1990 года. И можно написать еще несколько слов о службе.
                .team__item
                    img(src="assets/img/team/team-4.jpg" alt="").image-framed.image-framed--white.team__photo
                    h3.team__name Константин Козырев
                    p.team__position Пастор молитвенного служения
                    p.team__descr Дмитрий Шатров работает в церкви с 1990 года. И можно написать еще несколько слов о службе.

        // Москва
        .team__branch
            .team__in
                h2.team__title Служители церкви
                .team__item
                    img(src="assets/img/team/team-2.jpg" alt="").image-framed.image-framed--white.team__photo
                    h3.team__name Татьяна Ступа
                    p.team__position Пастор молитвенного служения
                    p.team__descr Дмитрий Шатров работает в церкви с 1990 года. И можно написать еще несколько слов о службе.
                .team__item
                    img(src="assets/img/team/team-4.jpg" alt="").image-framed.image-framed--white.team__photo
                    h3.team__name Константин Козырев
                    p.team__position Пастор молитвенного служения
                    p.team__descr Дмитрий Шатров работает в церкви с 1990 года. И можно написать еще несколько слов о службе.
                .team__item
                    img(src="assets/img/team/team-3.jpg" alt="").image-framed.image-framed--white.team__photo
                    h3.team__name Варфоломей Константино&shy;польский
                    p.team__position Старший пастор филиала
                    p.team__descr Дмитрий Шатров работает в церкви с 1990 года. И можно написать еще несколько слов о службе.

        // Екатеринбург
        .team__branch
            .team__in
                h2.team__title Служители церкви
                .team__item
                    img(src="assets/img/team/team-3.jpg" alt="").image-framed.image-framed--white.team__photo
                    h3.team__name Варфоломей Константино&shy;польский
                    p.team__position Старший пастор филиала
                    p.team__descr Дмитрий Шатров работает в церкви с 1990 года. И можно написать еще несколько слов о службе.
                .team__item
                    img(src="assets/img/team/team-1.jpg" alt="").image-framed.image-framed--white.team__photo
                    h3.team__name Даниил Маросейкин
                    p.team__position Старший пастор филиала
                    p.team__descr Дмитрий Шатров работает в церкви с 1990 года. И можно написать еще несколько слов о службе.
                .team__item
                    img(src="assets/img/team/team-4.jpg" alt="").image-framed.image-framed--white.team__photo
                    h3.team__name Константин Козырев
                    p.team__position Пастор молитвенного служения
                    p.team__descr Дмитрий Шатров работает в церкви с 1990 года. И можно написать еще несколько слов о службе.

        // Омск
        .team__branch
            .team__in
                h2.team__title Служители церкви
                .team__item
                    img(src="assets/img/team/team-3.jpg" alt="").image-framed.image-framed--white.team__photo
                    h3.team__name Варфоломей Константино&shy;польский
                    p.team__position Старший пастор филиала
                    p.team__descr Дмитрий Шатров работает в церкви с 1990 года. И можно написать еще несколько слов о службе.
                .team__item
                    img(src="assets/img/team/team-2.jpg" alt="").image-framed.image-framed--white.team__photo
                    h3.team__name Татьяна Ступа
                    p.team__position Пастор молитвенного служения
                    p.team__descr Дмитрий Шатров работает в церкви с 1990 года. И можно написать еще несколько слов о службе.
                .team__item
                    img(src="assets/img/team/team-1.jpg" alt="").image-framed.image-framed--white.team__photo
                    h3.team__name Даниил Маросейкин
                    p.team__position Старший пастор филиала
                    p.team__descr Дмитрий Шатров работает в церкви с 1990 года. И можно написать еще несколько слов о службе.


