mixin loader()
    .loader&attributes(attributes)
        svg(class="loader__svg" width="20px" height="20px" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg")
            circle(class="loader__path" fill="none" stroke-width="2" stroke-linecap="round" cx="6" cy="6" r="4")
