.main
    padding 0
    &__in
        container(1210px)
        padding 50px 20px
        +above(1152px)
            padding 100px 20px 80px
        &--narrow
            container(810px)
        &--no-padding
            padding 0 20px
            +above(1152px)
                padding 0 20px
    &__narrow
        container(770px)






