@font-face
    font-family "Circe-Regular"
    src url("fonts/Circe-Regular/Circe-Regular.eot")
    src url("fonts/Circe-Regular/Circe-Regular.eot?#iefix") format("embedded-opentype"),
        url("fonts/Circe-Regular/Circe-Regular.woff2") format("woff2"),
        url("fonts/Circe-Regular/Circe-Regular.woff") format("woff"),
        url("fonts/Circe-Regular/Circe-Regular.ttf") format("truetype"),
        url("fonts/Circe-Regular/Circe-Regular.svg#Circe-Regular") format("svg")
    font-style normal
    font-weight 400

@font-face
    font-family "Circe-Bold"
    src url("fonts/Circe-Bold/Circe-Bold.eot")
    src url("fonts/Circe-Bold/Circe-Bold.eot?#iefix") format("embedded-opentype"),
        url("fonts/Circe-Bold/Circe-Bold.woff2") format("woff2"),
        url("fonts/Circe-Bold/Circe-Bold.woff") format("woff"),
        url("fonts/Circe-Bold/Circe-Bold.ttf") format("truetype"),
        url("fonts/Circe-Bold/Circe-Bold.svg#Circe-Bold") format("svg")
    font-style normal
    font-weight 700

@font-face
    font-family "Circe-ExtraBold"
    src url("fonts/Circe-ExtraBold/Circe-ExtraBold.eot")
    src url("fonts/Circe-ExtraBold/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"),
        url("fonts/Circe-ExtraBold/Circe-ExtraBold.woff2") format("woff2"),
        url("fonts/Circe-ExtraBold/Circe-ExtraBold.woff") format("woff"),
        url("fonts/Circe-ExtraBold/Circe-ExtraBold.ttf") format("truetype"),
        url("fonts/Circe-ExtraBold/Circe-ExtraBold.svg#Circe-ExtraBold") format("svg")
    font-style normal
    font-weight 700

@font-face
    font-family "Circe-Light"
    src url("fonts/Circe-Light/Circe-Light.eot")
    src url("fonts/Circe-Light/Circe-Light.eot?#iefix") format("embedded-opentype"),
        url("fonts/Circe-Light/Circe-Light.woff2") format("woff2"),
        url("fonts/Circe-Light/Circe-Light.woff") format("woff"),
        url("fonts/Circe-Light/Circe-Light.ttf") format("truetype"),
        url("fonts/Circe-Light/Circe-Light.svg#Circe-Light") format("svg")
    font-style normal
    font-weight 300

@font-face
    font-family "PTSans-BoldItalic"
    src url("fonts/PTSans-BoldItalic/PTSans-BoldItalic.eot")
    src url("fonts/PTSans-BoldItalic/PTSans-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("fonts/PTSans-BoldItalic/PTSans-BoldItalic.woff2") format("woff2"),
        url("fonts/PTSans-BoldItalic/PTSans-BoldItalic.woff") format("woff"),
        url("fonts/PTSans-BoldItalic/PTSans-BoldItalic.ttf") format("truetype"),
        url("fonts/PTSans-BoldItalic/PTSans-BoldItalic.svg#PTSans-BoldItalic") format("svg")
    font-style italic
    font-weight 700
