include ../logo/logo

mixin under-construction()
    header.under-construction&attributes(attributes)
        .under-construction__in
            +logo(class="under-construction__logo logo--small")
            h1.under-construction__title На сайте ведутся работы. <br>Скоро он станет еще немного лучше.
            p.under-construction__text Приносим извинения за то, что заставляем ждать. Разработчики — <a href="http://broccolidev.ru/" title="Студия Broccoli - Разработка и поддержка порталов и сервисов" target="_blank">BRO</a>
