include ../blocks/head/head
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/scripts/scripts

include ../blocks/meeting/meeting

doctype html

// Верстка сайта: http://web-master-pro.ru

html(lang="ru-RU")

    +head("Служения")

    body.page.page-ceremonies
        .page__container
            +header(id="header" style="background-image: url(assets/img/header-ceremonies-bg.jpg);")
                h1.header__title Служения
                p.header__subtitle Человек широкой души, любящий Господа и людей. <br>Отзывчивый и всегда хочет помочь.
            main.main
                .main__in
                    .ceremonies
                        figure.ceremony
                            .ceremony__pic(style="background-image: url(assets/img/ceremonies/ceremony-1.jpg);")
                            figcaption.ceremony__caption
                                h3.ceremony__title
                                    span
                                        a(href="#").ceremony__link Дети
                                p.ceremony__text Молодежь церкви каждое воскресенье собирается вместе, чтобы увидеть друг друга и услышать вдохновляющее слово, для них также организованы ток-шоу, кафе, общение и активный досуг, направленные на созидание счастливых браков.
                        figure.ceremony
                            .ceremony__pic(style="background-image: url(assets/img/ceremonies/ceremony-2.jpg);")
                            figcaption.ceremony__caption
                                h3.ceremony__title
                                    span
                                        a(href="#").ceremony__link Подростки
                                p.ceremony__text Молодежь церкви каждое воскресенье собирается вместе, чтобы увидеть друг друга и услышать вдохновляющее слово, для них также организованы ток-шоу, кафе, общение и активный досуг, направленные на созидание счастливых браков.
                        figure.ceremony
                            .ceremony__pic(style="background-image: url(assets/img/ceremonies/ceremony-3.jpg);")
                            figcaption.ceremony__caption
                                h3.ceremony__title
                                    span
                                        a(href="#").ceremony__link Молодежь
                                p.ceremony__text Молодежь церкви каждое воскресенье собирается вместе, чтобы увидеть друг друга и услышать вдохновляющее слово, для них также организованы ток-шоу, кафе, общение и активный досуг, направленные на созидание счастливых браков.

                        figure.ceremony
                            .ceremony__pic(style="background-image: url(assets/img/ceremonies/ceremony-4.jpg);")
                            figcaption.ceremony__caption
                                h3.ceremony__title
                                    span
                                        a(href="#").ceremony__link Почтенный возраст
                                p.ceremony__text Молодежь церкви каждое воскресенье собирается вместе, чтобы увидеть друг друга и услышать вдохновляющее слово, для них также организованы ток-шоу, кафе, общение и активный досуг, направленные на созидание счастливых браков.
                        figure.ceremony
                            .ceremony__pic(style="background-image: url(assets/img/ceremonies/ceremony-5.jpg);")
                            figcaption.ceremony__caption
                                h3.ceremony__title
                                    span
                                        a(href="#").ceremony__link Семья
                                p.ceremony__text Молодежь церкви каждое воскресенье собирается вместе, чтобы увидеть друг друга и услышать вдохновляющее слово, для них также организованы ток-шоу, кафе, общение и активный досуг, направленные на созидание счастливых браков.

                        figure.ceremony
                            .ceremony__pic(style="background-image: url(assets/img/ceremonies/ceremony-6.jpg);")
                            figcaption.ceremony__caption
                                h3.ceremony__title
                                    span
                                        a(href="#").ceremony__link Офис и администрирование
                                p.ceremony__text Молодежь церкви каждое воскресенье собирается вместе, чтобы увидеть друг друга и услышать вдохновляющее слово, для них также организованы ток-шоу, кафе, общение и активный досуг, направленные на созидание счастливых браков.
                        figure.ceremony
                            .ceremony__pic(style="background-image: url(assets/img/ceremonies/ceremony-7.jpg);")
                            figcaption.ceremony__caption
                                h3.ceremony__title
                                    span
                                        a(href="#").ceremony__link Творческая команда
                                p.ceremony__text Молодежь церкви каждое воскресенье собирается вместе, чтобы увидеть друг друга и услышать вдохновляющее слово, для них также организованы ток-шоу, кафе, общение и активный досуг, направленные на созидание счастливых браков.
                        figure.ceremony
                            .ceremony__pic(style="background-image: url(assets/img/ceremonies/ceremony-8.jpg);")
                            figcaption.ceremony__caption
                                h3.ceremony__title
                                    span
                                        a(href="#").ceremony__link Прославление
                                p.ceremony__text Молодежь церкви каждое воскресенье собирается вместе, чтобы увидеть друг друга и услышать вдохновляющее слово, для них также организованы ток-шоу, кафе, общение и активный досуг, направленные на созидание счастливых браков.
                        figure.ceremony
                            .ceremony__pic(style="background-image: url(assets/img/ceremonies/ceremony-9.jpg);")
                            figcaption.ceremony__caption
                                h3.ceremony__title
                                    span
                                        a(href="#").ceremony__link Организация воскресных богослужений
                                p.ceremony__text Молодежь церкви каждое воскресенье собирается вместе, чтобы увидеть друг друга и услышать вдохновляющее слово, для них также организованы ток-шоу, кафе, общение и активный досуг, направленные на созидание счастливых браков.

                        figure.ceremony
                            .ceremony__pic(style="background-image: url(assets/img/ceremonies/ceremony-10.jpg);")
                            figcaption.ceremony__caption
                                h3.ceremony__title
                                    span
                                        a(href="#").ceremony__link Лагеря и выезды
                                p.ceremony__text Молодежь церкви каждое воскресенье собирается вместе, чтобы увидеть друг друга и услышать вдохновляющее слово, для них также организованы ток-шоу, кафе, общение и активный досуг, направленные на созидание счастливых браков.
                        figure.ceremony
                            .ceremony__pic(style="background-image: url(assets/img/ceremonies/ceremony-11.jpg);")
                            figcaption.ceremony__caption
                                h3.ceremony__title
                                    span
                                        a(href="#").ceremony__link Молитва и пост
                                p.ceremony__text Молодежь церкви каждое воскресенье собирается вместе, чтобы увидеть друг друга и услышать вдохновляющее слово, для них также организованы ток-шоу, кафе, общение и активный досуг, направленные на созидание счастливых браков.
                        figure.ceremony
                            .ceremony__pic(style="background-image: url(assets/img/ceremonies/ceremony-12.jpg);")
                            figcaption.ceremony__caption
                                h3.ceremony__title
                                    span
                                        a(href="#").ceremony__link Забота и помощь
                                p.ceremony__text Молодежь церкви каждое воскресенье собирается вместе, чтобы увидеть друг друга и услышать вдохновляющее слово, для них также организованы ток-шоу, кафе, общение и активный досуг, направленные на созидание счастливых браков.
                            
            +meeting-join(id="meeting")
            +footer(id="footer")
        +header-extra()
        +scripts()

