include ../blocks/head/head
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/scripts/scripts

include ../blocks/meeting/meeting
include ../blocks/table/table
include ../blocks/reportage/reportage

doctype html

// Верстка сайта: http://web-master-pro.ru

html(lang="ru-RU")

    +head("Празднование Пасхи")

    body.page.page-content
        .page__container
            +header(id="header" style="background-image: url(assets/img/header-content-page-bg.jpg);")
                h1.header__title Празднование Пасхи
                p.header__subtitle Человек не был сотворен Богом для одиночества. Бог сказал: <br>«Не хорошо быть человеку одному». Мы были сотворены, чтобы жить <br>в общении друг с другом.
            main.main
                .block-lines
                    .block-lines__in
                        .block-lines__line
                            h3.block-lines__caption Когда?
                            time(datetime="2016-07-27 19:00").block-lines__text 27 июля, понедельник, 19:00
                        .block-lines__line
                            h3.block-lines__caption Где?
                            address.block-lines__address Санкт-Петербург, Невский&nbsp;проспект, КЗ&nbsp;«Колизей»
                        .block-lines__line
                            h3.block-lines__caption Спикер
                            p.block-lines__text Алексей Прокопьев, старший пастор церкви
                        .block-lines__line
                            h3.block-lines__caption Как попасть?
                            p.block-lines__text Обязательна запись по телефону: <a href="tel:88005555550" class="block-lines__phone-link">8-800-555-555-0</a>
                .main__in
                    .main__narrow
                        h2.title.title--no-top Основная цель
                        p Состоит в полном изменении образа жизни зависимого: отказ от употребления алкоголя и наркотиков, устранение антисоциальной и саморазрушительной моделей поведения, развитие навыков общения, приобретение уверенности в себе и самоуважения.

                        p Общей целью является установление стиля жизни без наркотиков, другими словами — помочь пациенту в достижении полного воздержания от употребления всех видов наркотических средств и алкоголя; в принятии решений и ответственности за свою жизнь; в построении жизни согласно христианским принципам, и в развитии социальных навыков, включая профессиональную подготовку.

                        img(src="assets/img/photo-7.jpg" alt="").image-framed.image-framed--white.page-content__photo

                        h3.subtitle Что мы хотим донести
                        p Все эти изменения не могут произойти без принятия христианской системы ценностей, как основания для дальнейшей полноценной и трезвой жизни. Только полное переосмысливания ценностей своей жизни, через покаяние и веру в Иисуса Христа, дают гарантию полного освобождения и высокий процент успешной реабилитации. Вера во Всемогущего Бога, как Творца, Библейские принципы христианской морали, на которых базируется программа реабилитации Центра.

                        p Употребление наркотиков является симптомом глубоких личностных проблем, социальной несогласованности, неадекватных межличностных навыков, отсутствия образования или его низкого уровня и слабых навыков работы (или их отсутствие вообще). Другими словами проблемой является человек, а не наркотики.

                        +table(class="page-content__table")

                        h3.subtitle Преимущества
                        p Христианская система реабилитации рассматривает проблему наркомании, как болезнь, зависимость и грех, которые поражают физическую, душевную, духовную и социальную сферы личности. Поэтому эффективное оказание помощи базируется на комплексном и всестороннем подходе к делу. Чтобы получить полное освобождение от наркотиков и алкоголя, нужны полные и кардинальные изменения привычек, взглядов, желаний и социального окружения человека.

                +reportage(class="page-content__reportage")

                .main__in
                    .main__narrow
                        h3.subtitle Что же в итоге
                        p Все эти изменения не могут произойти без принятия христианской системы ценностей, как основания для дальнейшей полноценной и трезвой жизни. Только полное переосмысливания ценностей своей жизни, через покаяние и веру в Иисуса Христа, дают гарантию полного освобождения и высокий процент успешной реабилитации. Вера во Всемогущего Бога, как Творца, Библейские принципы христианской морали, на которых базируется программа реабилитации Центра.

                    .block-two.page-content__block-two
                        .block-two__row
                            .block-two__img-part
                                img(src="assets/img/photo-2.jpg" alt="").image-framed
                            .block-two__text-part
                                .block-two__vertical-center
                                    h2.intro Также в нашей церкви есть команда консультантов — людей, прошедших специальные курсы- психологов по различным направлениям, имеющих опыт служения людям.
                                    p Консультанты помогают сделать самостоятельный выбор — так, чтобы человек сам научился находить решение проблемы в духе христианских ценностей.
                    .main__narrow
                        p Употребление наркотиков является симптомом глубоких личностных проблем, социальной несогласованности, неадекватных межличностных навыков, отсутствия образования или его низкого уровня и слабых навыков работы (или их отсутствие вообще). Другими словами проблемой является человек, а не наркотики.



            +meeting(id="meeting")
            +footer(id="footer")
        +header-extra()
        +scripts()

