doctype html

// Верстка сайта: http://web-master-pro.ru 

html(lang="ru-RU")

    head
        meta(charset="utf-8")
        title Миссия Благая Весть | Список страниц проекта

        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        meta(name="generator" content="web-master-pro.ru")

        style.
            html {box-sizing: border-box; height: 100%; margin: 0;}
            *, *:before, *:after {box-sizing: inherit;}
            .page {min-width: 240px; color: #444; font-size: 18px; font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';font-weight: normal; line-height: 1.2; background-color: #fff; padding: 0; margin: 0;}
            .page__in {display: block; width: 100%; max-width: 800px; margin: 0 auto; padding: 40px 20px;}
            .page__text {margin: 0 0 1.25em}
            .page__text--work {opacity: .6}
            .page__title {font-size: 28px; padding: 0 0 20px; border-bottom: 1px solid #999; margin: 0 0 20px;}
            .page__title-2 {font-size: 20px;}
            .page__title-3 {font-size: 18px; font-weight: normal;}
            .page__link {color: #036; text-decoration: underline;}
            .page__link:hover {color: #c00;  text-decoration: none;}
            .page__link--disabled, .page__link--disabled:hover {color: #999; cursor: default; text-decoration: underline;}
            .page__block {padding-left: 20px;}
            .page__row {width: 100%; display: flex; flex-flow: row wrap;}
            .page__col {flex: 1 1 100%;}
            @media only screen and (min-width: 768px) {.page__col {flex: 1 1 33.3%;}}

    body.page
        .page__in

            h1.page__title Проект "Миссия Благая Весть" (blagovest)

            .page__row
                .page__col
                    p.page__text <a href="404.html" target="_blank" class="page__link">404.html</a>
                    p.page__text <a href="about.html" target="_blank" class="page__link">about.html</a>
                    p.page__text <a href="blagovestie.html" target="_blank" class="page__link">blagovestie.html</a>
                    p.page__text <a href="ceremonies.html" target="_blank" class="page__link">ceremonies.html</a>
                    p.page__text <a href="ceremonies_page.html" target="_blank" class="page__link">ceremonies_page.html</a>
                    p.page__text <a href="charity-funds.html" target="_blank" class="page__link">charity-funds.html</a>
                    p.page__text <a href="consultations.html" target="_blank" class="page__link">consultations.html</a>
                    p.page__text <a href="contacts.html" target="_blank" class="page__link">contacts.html</a>
                    p.page__text <a href="content-page.html" target="_blank" class="page__link">content-page.html</a>
                    p.page__text <a href="donations.html" target="_blank" class="page__link">donations.html</a>
                .page__col
                    p.page__text <a href="events.html" target="_blank" class="page__link">events.html</a>
                    p.page__text <a href="fresh-start.html" target="_blank" class="page__link">fresh-start.html</a>
                    p.page__text <a href="history.html" target="_blank" class="page__link">history.html</a>
                    p.page__text <a href="first-time.html" target="_blank" class="page__link">first-time.html</a>
                    p.page__text <a href="main.html" target="_blank" class="page__link">main.html</a>
                    p.page__text <a href="multimedia.html" target="_blank" class="page__link">multimedia.html</a>
                    p.page__text <a href="our-pastor.html" target="_blank" class="page__link">our-pastor.html</a>
                    p.page__text <a href="our-vision.html" target="_blank" class="page__link">our-vision.html</a>
                    p.page__text <a href="prayer.html" target="_blank" class="page__link">prayer.html</a>
                    p.page__text <a href="reabilitation-centers.html" target="_blank" class="page__link">reabilitation-centers.html</a>
                .page__col
                    p.page__text <a href="small-groups.html" target="_blank" class="page__link">small-groups.html</a>
                    p.page__text <a href="stories.html" target="_blank" class="page__link">stories.html</a>
                    p.page__text <a href="under-construction.html" target="_blank" class="page__link">under-construction.html</a>
                    p.page__text <a href="we-believe.html" target="_blank" class="page__link">we-believe.html</a>


