include ../blocks/head/head
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/scripts/scripts

include ../blocks/slider-photo/slider-photo
include ../blocks/pastor/pastor

doctype html

// Верстка сайта: http://web-master-pro.ru

html(lang="ru-RU")

    +head("Наш пастор")

    body.page.page-our-pastor
        .page__container
            +header(id="header" style="background-image: url(assets/img/header-our-pastor-bg.jpg);")
                h1.header__title Наш пастор
                p.header__subtitle Человек широкой души, любящий Господа и людей. <br>Отзывчивый и всегда хочет помочь. 
            main.main
                +pastor()
                .main__in
                    .main__narrow
                        h2.title.title--no-top Образование
                        p Имеет высшие образования: техническое - по специальности инженер-технолог и богословские - степень Бакалавра религиозного образования и степень магистра религиозного образования. Также на его счету много различных курсов, один из которых курс повышения квалификации по программе «Государственно-конфессиональные отношения» в Российской Академии государственной службы при Президенте Российской Федерации.

                        h2.title Должность
                        h3.subtitle В 1998 году рукоположен в сан священнослужителя, в 2012 в сан Епископа.
                        p В настоящее время является Первым Пресвитером РО Евангельских христиан в Духе Апостолов «Миссия «Благая Весть» (с 1998 года) и Первым Пресвитером РО «Союз Церквей Евангельских Христиан в Духе Апостолов» (с 2002 года). В 2008 году избран полномочным представителем Председателя Российского объединенного Союза христиан веры евангельской (пятидесятников) в г. Санкт-Петербурге и Ленинградской области, в 2015 году избран заместителем Начальствующего епископа РОСХВЕ в Северо-Западном федеральном округе.

                +slider-photo-pastor()

                .main__in
                    .main__narrow
                        h3.subtitle С 1996 по 2013 год был учредителем телеканала «Объединенное телевидение» и ЗАО «Парус ТВ» и все эти годы в эфир выходили христианские программы.
                        
                        p Жизнь Дмитрия Шатрова наполнена чудесами и знамениями Божьей славы! Во всех сложных и непростых ситуациях, он всегда уповал на Господа и Его Слово.

                        p Дмитрий Шатров - добрый, веселый и творческий человек. Человек широкой души, любящий Господа и людей. Отзывчивый и всегда хочет помочь. Как говорит жена пастора Дмитрия Лариса - он прекрасный муж, замечательный отец  и заботливый дедушка. У Дмитрия и Ларисы четверо сыновей и пока четверо внуков.
            +footer(id="footer")
        +header-extra()
        +scripts()

