include ../blocks/head/head
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/scripts/scripts

include ../blocks/slider-photo/slider-photo
include ../blocks/meeting/meeting

doctype html

// Верстка сайта: http://web-master-pro.ru

html(lang="ru-RU")

    +head("Реабилитационные центры")

    body.page.page-reabilitation
        .page__container
            +header(id="header" style="background-image: url(assets/img/header-reabilitation-centers-bg.jpg);")
                h1.header__title Реаби&shy;лита&shy;ционные центры
                p.header__subtitle Сегодня нет необходимости доказывать, что наркомания является <br>бичом современного общества.
            main.main
                .main__in
                    .main__narrow
                        p Каждый день на улицах города мы видим людей в состоянии наркотического или алкогольного опьянения; и хотя существует немалое количество клиник и центров для лечения химической зависимости, количество людей, страдающих от этого заболевания, не уменьшается, а напротив увеличивается. Однако знайте, что победить болезнь можно, если доверить свою жизнь Богу.

                        p Христианская система реабилитации рассматривает проблему наркомании, как болезнь, зависимость и грех, которые поражают физическую, душевную, духовную и социальную сферы личности. Поэтому эффективное оказание помощи базируется на комплексном и всестороннем подходе к делу. Чтобы получить полное освобождение от наркотиков и алкоголя, нужны полные и кардинальные изменения привычек, взглядов, желаний и социального окружения человека.

                +slider-photo()

                .main__in
                    .main__narrow
                        p Все эти изменения не могут произойти без принятия христианской системы ценностей, как основания для дальнейшей полноценной и трезвой жизни. Только полное переосмысливания ценностей своей жизни, через покаяние и веру в Иисуса Христа, дают гарантию полного освобождения и высокий процент успешной реабилитации. Вера во Всемогущего Бога, как Творца, Библейские принципы христианской морали, на которых базируется программа реабилитации Центра.

                        p Употребление наркотиков является симптомом глубоких личностных проблем, социальной несогласованности, неадекватных межличностных навыков, отсутствия образования или его низкого уровня и слабых навыков работы (или их отсутствие вообще). Другими словами проблемой является человек, а не наркотики.

                        h2.title Основная цель Реабилитационного Центра

                        p Состоит в полном изменении образа жизни зависимого: отказ от употребления алкоголя и наркотиков, устранение антисоциальной и саморазрушительной моделей поведения, развитие навыков общения, приобретение уверенности в себе и самоуважения.

                        p Общей целью является установление стиля жизни без наркотиков, другими словами — помочь пациенту в достижении полного воздержания от употребления всех видов наркотических средств и алкоголя; в принятии решений и ответственности за свою жизнь; в построении жизни согласно христианским принципам, и в развитии социальных навыков, включая профессиональную подготовку.

            +meeting-help(id="meeting")
            +footer(id="footer")
        +header-extra()
        +scripts()

