include ../blocks/head/head
include ../blocks/under-construction/under-construction


doctype html

// Верстка сайта: http://web-master-pro.ru

html(lang="ru-RU")

    +head("Сайт закрыт на обслуживание")

    body.page.page-under-construction
        +under-construction()


