include ../blocks/head/head
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/scripts/scripts


doctype html

// Верстка сайта: http://web-master-pro.ru

html(lang="ru-RU")

    +head("Во что мы верим")

    body.page.page-we-believe
        .page__container
            +header(id="header" style="background-image: url(assets/img/header-we-believe-bg.jpg);")
                h1.header__title Во что мы верим
                p.header__subtitle Библия – это живое слово Божье к человеку, она дает достоверные <br>знания о Боге, о человеке и о будущем.
            main.main
                .main__in
                    .main__narrow
                        h2.title.title--no-top На основании Библии мы верим, что:
                        ul.list-text
                            li.list-text__item Единый Бог есть Творец всего видимого и невидимого мира. Весь мир Он сотворил Своим словом. Человек был создан из праха земного и «вдул в Него Бог дыхание жизни и стал человек душой живою.» (Быт. 2:7) Человек, как венец творения был сотворен для общения с Богом.
                            li.list-text__item Через грехопадение человек прервал связь с Творцом.
                            li.list-text__item Господь осуществил план искупления человечества через рождение на земле Иисуса Христа – Сына Божьего, в котором открылся Небесный Бог. Господь Иисус Христос взял на себя все наши грехи, беззакония, проклятия, вину, немощи и болезни, т.е. приобрел нам полное спасение, осуществив искупление через смерть на кресте и оправдание через воскресение из мертвых. (Рим. 4:25)
                            li.list-text__item Каждый человек, кто верит в жертву Иисуса Христа, принесенную за него, исповедует это своими устами и кается в своих грехах, получает их прощение и жизнь вечную. «…всякий, кто призовет Имя Господне – спасется» (Рим. 10:9-13)
                            li.list-text__item Покаяние – это осознание своей виновности перед Богом и принятие прощения Господа Иисуса Христа. Результатом покаяния является рождение свыше, перемена образа мышления и образа жизни.
                            li.list-text__item Рожденному свыше христианину необходимо заключить завет с Богом через водное крещение. Мы крестим человека в сознательном возрасте, крестя его во имя Христа. (Деян. 2:38, 10:48)
                            li.list-text__item Сейчас Господь работает Духом Святым через Церковь, как Его представительство на земле. (Еф. 1.22-23)
                            li.list-text__item Мы верим в излияние Божьего Духа на всякую плоть и в действие Даров Духа Святого в жизни людей, принявших спасение верой в жертву Иисуса Христа. Сейчас Церковь ожидает возвращение Господа Иисуса Христа на землю.

            +footer(id="footer")
        +header-extra()
        +scripts()

