.button-more
    display inline-block
    height 40px
    background-color transparent
    border 2px solid #ddd
    outline none
    color #231f20
    font(Extra)
    font-size 14px
    letter-spacing .025em
    line-height 40px
    text-transform uppercase
    text-decoration none
    text-align center
    padding 0 15px
    transition all .3s ease
    &:hover
        color @color
        text-decoration none
    +above(1152px)
        border 2px solid transparent
        border-bottom 2px solid #e0e0e0
        font-size 15px
        padding 0 20px
        &:hover
            +above(desktop)
                border-bottom-color #fcaa00
