.form-meeting
    display block
    width 100%
    max-width 280px
    padding 0
    margin 0 auto
    +above(1152px)
        max-width 100%
        background-color #fff
        padding 45px 20px 40px

    &__in
        container(970px)
        display flex
        flex-flow row wrap
        justify-content space-between

    &__input
        flex 1 1 100%
        margin 0 0 20px
        +above(1152px)
            flex 0 0 370px

    &__checkbox
        flex 1 1 100%
        margin 0 0 20px
        +above(1152px)
            order 4
            margin 0

    &__button
        flex 1 1 100%
        +above(1152px)
            flex 0 0 170px
            margin-top 37px
