.logo
    display block
    width 148px
    height 62px
    // background-image embedurl("../../svg/logo-mobile.svg", "")
    background-image url(img/logo-mobile.svg)
    background-size contain
    background-repeat no-repeat
    background-position center center
    +above(1152px)
        width 248px
        height 100px
        // background-image embedurl("../../svg/logo.svg", "")
        background-image url(img/logo.svg)
        &--small
            width 175px
            height 70px

    &__link
        display block
        position absolute
        top 0
        left 0
        right 0
        bottom 0

