.side-left
    display block
    width 250px
    height 100%
    background-color #231f20
    position fixed
    top 0
    bottom 0
    left -250px
    z-index 1000
    transition all .3s ease
    overflow-y auto
    -webkit-overflow-scrolling touch

    &__button
        width 100%
        max-width 210px
        margin 45px 0 40px 20px

    &__phone
        margin-left 20px
        margin-bottom 25px

    &__email
        margin-left 20px
        margin-bottom 30px

    &__contacts
        border-bottom 1px solid rgba(255,255,255,.05)
    &__social
        margin 30px auto

