include ../button-more/button-more
include ../baloon/baloon

mixin map()
    .map&attributes(attributes)
        +baloon(class="map__baloon")
        .map__map#map-holder
        .map__button-wrapper
            +button-more("Показать на карте")(class="map__button js-map-button")

mixin map-extended()
    .map&attributes(attributes)
        +baloon-extended(class="map__baloon")
        .map__map#map-holder
        .map__button-wrapper
            +button-more("Показать на карте")(class="map__button js-map-button")
