include ../button-more/button-more
include ../baloon/baloon

mixin map-script()
    script(src="https://maps.googleapis.com/maps/api/js?sensor=false")
    script.
        var latitude = 59.830676,
            longitude = 30.385065,
            map,
            styleArray = [{featureType: "all"}];
        function initialize() {
            var width = window.innerWidth
                || document.documentElement.clientWidth
                || document.body.clientWidth,
                longitudeCenter;
            if (width >= 1152) {
                longitudeCenter = longitude - 0.0035;
            } else {
                longitudeCenter = longitude;
            }
            var mapOptions = {
                zoom: 16,
                center: new google.maps.LatLng(latitude, longitudeCenter),
                scrollwheel: false,
                draggable: true,
                zoomControl: true,
                styles: styleArray,
            };
            var stylez = [{
                featureType: "all",
                elementType: "all"
            }];
            var image = 'assets/img/map-marker.png';
            map = new google.maps.Map(document.getElementById('map-holder'), mapOptions);
            marker = new google.maps.Marker({
                    position: new google.maps.LatLng(latitude,longitude),
                    map: map,
                    icon: image
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);

mixin map()
    .map&attributes(attributes)
        +baloon(class="map__baloon")
        .map__map#map-holder
        .map__button-wrapper
            +button-more("Показать на карте")(class="map__button js-map-button")
        +map-script()

mixin map-extended()
    .map&attributes(attributes)
        +baloon-extended(class="map__baloon")
        .map__map#map-holder
        .map__button-wrapper
            +button-more("Показать на карте")(class="map__button js-map-button")
        +map-script()
