mixin filter-media()
    .filter-media(data-action="assets/multimedia.php")&attributes(attributes)
        button.filter-media__button
            span.filter-media__button-show Показать фильтр 
            span.filter-media__button-hide Скрыть фильтр 

        .filter-media__container
            .filter-media__select-group
                label(for="filter-media-select-cycle").filter-media__label Тип
                select(name="cycle").select.filter-media__select#filter-media-select-cycle
                    option(value="current") Текущий цикл
                    option(value="cycle-2") Цикл 2
                    option(value="cycle-3") Цикл 3
                    option(value="cycle-4") Цикл 4
                    option(value="cycle-5") Цикл 5
            .filter-media__select-group
                label(for="filter-media-select-pastor").filter-media__label Пастор
                select(name="pastor").select.filter-media__select#filter-media-select-pastor
                    option(value="shatrov") Дмитрий Шатров
                    option(value="pastor-2") Пастор 2
                    option(value="pastor-3") Пастор 3
                    option(value="pastor-4") Пастор 4
                    option(value="pastor-5") Пастор 5
            .filter-media__select-group
                label(for="filter-media-select-actuality").filter-media__label Актуальность
                select(name="actuality").select.filter-media__select#filter-media-select-actuality
                    option(value="latest") Самые новые
                    option(value="other") Другие


