.form-donate
    display flex
    flex-flow row wrap
    justify-content space-between
    width 100%
    max-width 280px
    padding 0
    +above(768px)
        width 100%
        max-width 570px
        flex-flow row nowrap

    &__input
        flex 0 0 100%
        max-width 100%
        margin 0 0 20px
        +above(768px)
            flex 0 0 370px
            margin-bottom 0
            max-width 370px

    &__button
        flex 1 1 100%
        width 100%
        margin 0
        +above(768px)
            flex 0 0 170px
            max-width 170px
