.slider-report
    width 100%
    max-width 570px
    margin 0 auto
    +above(1152px)
        margin 0


    &__slider
        width 100%


    &__slide
        display block
        width 100%
        height auto
        border 10px solid #2a2627
        +above(1152px)
            border-width 20px

    &__nav
        display block
        width 100%
        position relative

    &__prev
        position absolute
        top 50%
        margin-top -23px
        left 0
        z-index 50
        +above(1152px)
            margin-top -35px
            left -10px

    &__next
        position absolute
        top 50%
        margin-top -23px
        right 0
        z-index 50
        +above(1152px)
            margin-top -35px
            right -10px

    &__dots
        position relative
        display block
        list-style none
        padding 40px 50px
        margin 0
        font-size 0
        text-align center
        +above(1152px)
            padding 15px 45px

    &__dot
        display inline-block
        vertical-align middle
        width 6px
        height 6px
        background-color #fff
        border-radius 50%
        margin 15px
        cursor pointer
        transition background-color .3s ease
        &.active
            background-color #f3a62d
        &:hover
            +above(desktop)
                background-color #f3a62d
        img
            display none
        +above(1152px)
            width auto
            height auto
            border-radius 0
            padding 5px
            background-color #2a2627
            &:hover
            &.active
                background-color #faa926
            img
                display block
                width 90px
                height auto


