.slider-history
    background-color #1f4388
    background-image linear-gradient(135deg, #387fc0 0%, #1f4388 100%)

    &__in
        container(1210px)
        padding 60px 20px 10px
        +above(1152px)
            padding 90px 90px
    &__slider
        width 100%

    &__slide
        color white

        p
            color white
            font(Light)
            font-size 20px
            font-weight 300
            line-height 30px
            margin 20px 0
            text-align center
            +above(1152px)
                font-size 24px
                line-height 40px
                margin 30px 0
    &__valign
        animate-slide()

    &__prev
    &__next
        display inline-block
        border none
        outline none
        background transparent
        color #faa926
        font(Light)
        font-size 36px
        line-height 1
        padding 0
        margin 0
        cursor pointer
        position absolute
        top 35px
        +above(1152px)
            font-size 72px
            top 50%
            margin-top -36px

    &__prev
        left 50%
        margin-left -15px
        +above(1152px)
            left 20px
            margin-left 0
    &__next
        left 50%
        margin-left 15px
        +above(1152px)
            right 20px
            left auto
            margin-left 0


