mixin slider-history()
    .slider-history&attributes(attributes)
        .slider-history__in
            .slider-history__slider
                .slider-history__slide
                    .slider-history__valign
                        p Во времена гонений христиан, богослужения были запрещены, молитвенные дома отобраны, священнослужители были репрессированы, верующие ушли в подполье. После репрессий восстановлением церкви в нашем городе занимались Шатровы Клементий Яковлевич, Петр Клементьевич и Дмитрий Леонтьевич.
                .slider-history__slide
                    .slider-history__valign
                        p 10 апреля 1916 года возобновилось водное крещение во Имя Господа Иисуса Христа, как крестили апостолы в первой церкви. Эту дату принято считать датой основания церкви евангельских христиан в духе апостолов.
                .slider-history__slide
                    .slider-history__valign
                        p В 1979 году община приобретает дом в поселке Парголово и перестраивает его под здание церкви. С перестройкой молодежь церкви начинает активно заниматься распространением Благой Вести, проповедуя в местах лишения свободы и у Казанского Собора. Церковь ЕХДА расширяет свое название, добавляя к прежнему «Миссия Благая Весть»
            button.slider-history__prev «
            button.slider-history__next »
