mixin pastor()
    section.pastor&attributes(attributes)
        .pastor__in
            img(src="assets/img/pastor-big.jpg" alt="").image-framed.pastor__photo
            .pastor__info
                h2.pastor__name Дмитрий <br><span>Шатров</span>
                p.pastor__position Старший пастор церкви
                p.pastor__descr Родился 29 августа 1966 г., в г. Ленинграде, в семье потомственного священника евангельской церкви. В 14 лет принял Иисуса Христа своим Господом и Спасителем, 20 августа 1980 года принял Святое водное Крещение во Имя Господа Иисуса Христа.

