.stories-home
    width 100%
    background-color #fff
    padding 40px 20px
    +above(1152px)
        padding 90px 20px 80px

    &__title
        color #231f20
        font(Extra)
        font-size 30px
        line-height 45px
        text-align center
        margin 0 0 30px
        +above(1152px)
            font-size 42px
            line-height 45px

    &__text
        display none
        +above(1152px)
            display block
            color #848484
            font()
            font-size 18px
            line-height 30px
            text-align center
            margin 0 0 45px
    &__button-wrapper
        text-align center
        padding-top 30px

.stories
    container(1190px)
    padding 50px 0
    display flex
    flex-flow row wrap
    justify-content space-around
    .stories-home &
        padding 0

    +above(1170px)
        justify-content space-around
        padding 100px 0

    &__button-wrapper
        flex 0 0 100%
        text-align center
    &__button
        +above(1152px)
            margin-top 40px

.story
    display block
    flex 0 0 auto
    max-width 370px
    width 100%
    position relative
    margin 0 0 10px
    overflow hidden
    +above(1152px)
        width 370px
        height 340px
        margin 0 0 30px
        &::before
            content ""
            display block
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            z-index 2
            background-color #231f20
            transition background-color .3s ease
    &:hover
        +above(desktop)
            &::before
                background-color #174184

    &__pic
        height 200px
        background-position center top
        background-size cover
        background-repeat no-repeat
        +above(1152px)
            height 340px
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            z-index 10
            opacity .4
            transition opacity .3s ease, transform .5s ease
            ^[0]:hover &
                opacity .2
                transform scale(1.05)

    &__caption
        display block
        padding 20px
        +above(1152px)
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            z-index 20
            padding 70px 20px 20px

    &__quote
        color #2a2627
        font(Bold)
        font-size 20px
        line-height 25px
        text-align center
        margin 0 0 10px
        +above(1152px)
            color white
            font-size 24px
            line-height 35px
            margin 0

    &__author
        color #2a2627
        font()
        font-size 18px
        line-height 20px
        text-align center
        margin 0 0 8px
        +above(1152px)
            color white
            position absolute
            top 225px
            left 0
            right 0
            margin 0

    &__type
        color #faa926
        font(PTSans)
        font-size 15px
        line-height 20px
        text-align center
        margin 0
        +above(1152px)
            position absolute
            top 260px
            left 0
            right 0

    &__link
        display block
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        z-index 30


