mixin logos()
    .logos&attributes(attributes)
        .logos__in
            img(src="assets/img/logos/logo-1.jpg" alt="")
            img(src="assets/img/logos/logo-2.jpg" alt="")
            img(src="assets/img/logos/logo-3.jpg" alt="")
            img(src="assets/img/logos/logo-4.jpg" alt="")
            img(src="assets/img/logos/logo-5.jpg" alt="")
