.logos
    display block
    width 100%
    background-color #fff

    &__in
        container(1210px)
        padding 10px 20px
        font-size 0
        text-align center
        +above(1152px)
            padding 70px 20px

        img
            display inline-block
            width auto
            max-height 50px
            margin 10px 10px
            +above(1152px)
                max-height 100%
                max-width 100%
                height auto
                margin 20px 40px
