mixin tiles()
    .tiles
        .tiles__in
            .tile.tile--1
            .tile.tile--2
                .tile__in
                    .tile__text
                        h3.tile__title Благовестие
                        p.tile__subtitle Мы Благовествуем Всем!
            .tile.tile--3
            .tile.tile--4
                .tile__in
                    .tile__text
                        h3.tile__title Служение
                        p.tile__subtitle Место Больших Возможностей!
            .tile.tile--5
            .tile.tile--6
                .tile__in
                    .tile__text
                        h3.tile__title Поклонение
                        p.tile__subtitle Мы Бога Восхваляем!
            .tile.tile--7
            .tile.tile--8
                .tile__in
                    .tile__text
                        h3.tile__title Общение
                        p.tile__subtitle Можем Больше Вместе!
            .tile.tile--9
            .tile.tile--10
                .tile__in
                    .tile__text
                        h3.tile__title Обучение
                        p.tile__subtitle Мы Будем Возрастать!
            .tile.tile--11

        .tiles__slider
            .tile.tile--2
                .tile__in
                    .tile__text
                        h3.tile__title Благовестие
                        p.tile__subtitle Мы Благовествуем Всем!
            .tile.tile--4
                .tile__in
                    .tile__text
                        h3.tile__title Служение
                        p.tile__subtitle Место Больших Возможностей!
            .tile.tile--6
                .tile__in
                    .tile__text
                        h3.tile__title Поклонение
                        p.tile__subtitle Мы Бога Восхваляем!
            .tile.tile--8
                .tile__in
                    .tile__text
                        h3.tile__title Общение
                        p.tile__subtitle Можем Больше Вместе!
            .tile.tile--10
                .tile__in
                    .tile__text
                        h3.tile__title Обучение
                        p.tile__subtitle Мы Будем Возрастать!

