mixin tiles()
    .tiles
        .tiles__in
            .tile.tile--1
            a(href="#")
                .tile.tile--2
                    .tile__in
                        .tile__text
                            h3.tile__title Благовестие
                            p.tile__subtitle Мы Благовествуем Всем!
            .tile.tile--3
            a(href="#")
                .tile.tile--4
                    .tile__in
                        .tile__text
                            h3.tile__title Служение
                            p.tile__subtitle Место Больших Возможностей!
            .tile.tile--5
            a(href="#")
                .tile.tile--6
                    .tile__in
                        .tile__text
                            h3.tile__title Поклонение
                            p.tile__subtitle Мы Бога Восхваляем!
            .tile.tile--7
            a(href="#")
                .tile.tile--8
                    .tile__in
                        .tile__text
                            h3.tile__title Общение
                            p.tile__subtitle Можем Больше Вместе!
            .tile.tile--9
            a(href="#")
                .tile.tile--10
                    .tile__in
                        .tile__text
                            h3.tile__title Обучение
                            p.tile__subtitle Мы Будем Возрастать!
            .tile.tile--11

        .tiles__slider
            a(href="#")
                .tile.tile--2
                    .tile__in
                        .tile__text
                            h3.tile__title Благовестие
                            p.tile__subtitle Мы Благовествуем Всем!
            a(href="#")
                .tile.tile--4
                    .tile__in
                        .tile__text
                            h3.tile__title Служение
                            p.tile__subtitle Место Больших Возможностей!
            a(href="#")
                .tile.tile--6
                    .tile__in
                        .tile__text
                            h3.tile__title Поклонение
                            p.tile__subtitle Мы Бога Восхваляем!
            a(href="#")
                .tile.tile--8
                    .tile__in
                        .tile__text
                            h3.tile__title Общение
                            p.tile__subtitle Можем Больше Вместе!
            a(href="#")
                .tile.tile--10
                    .tile__in
                        .tile__text
                            h3.tile__title Обучение
                            p.tile__subtitle Мы Будем Возрастать!

