include ../form-fresh/form-fresh

mixin fresh()
    .fresh&attributes(attributes)
        .fresh-box
            .fresh-box__in
                p.fresh-box__step Шаг 1
                h3.fresh-box__title Молитва
                img(src="assets/img/fresh-start/fresh-start-4.jpg" alt="").image-framed.fresh-box__photo
                p.fresh-box__text Молитва — это не просто набор правильных слов, это искренний разговор с Богом.
                p.fresh-box__text Обратитесь к Богу прямо сейчас с молитвой покаяния и произнесите вслух следующие слова:
                p.fresh-box__strong «Господь Иисус Христос, прости меня за то, что я шел своим путем.  Я верю, что Ты пришел на землю для того, чтобы я мог жить с Тобой вечно. Благодарю Тебя за то, что Ты умер на кресте за мои грехи. Я открываю Тебе свое сердце и вверяю свою жизнь в Твои руки.  Я посвящаю свою жизнь Тебе.  Аминь»
        .fresh-box
            .fresh-box__in
                p.fresh-box__step Шаг 2
                h3.fresh-box__title Крещение
                img(src="assets/img/fresh-start/fresh-start-5.jpg" alt="").image-framed.fresh-box__photo
                p.fresh-box__text Слово «Крещение» происходит от греческого слова «Баптизо» — полное погружение под воду, которое символизирует смерть и воскресение Иисуса Христа. Крещение - это не дань традиции, это символ внутреннего посвящения Богу и желание жить праведной жизнью.
                +form-fresh-1()

        .fresh-box
            .fresh-box__in
                p.fresh-box__step Шаг 3
                h3.fresh-box__title Пройти семинар "Шаг 1. Общение"
                img(src="assets/img/fresh-start/fresh-start-6.jpg" alt="").image-framed.fresh-box__photo
                .fresh-box__row
                    .fresh-box__left
                        p.fresh__text Узнайте больше о нашей церкви, посетив семинар «Шаг 1. Общение».
                        p.fresh__text Это семинар, пройдя который Вы сможете стать членом церковной семьи, а также узнать:
                        ul.list-text
                            li.list-text__item о вероучении, ценностях, видении и структуре нашей церкви;
                            li.list-text__item о евангельском движении и столетней истории церкви «Миссия Благая весть»
                    .fresh-box__right
                        +form-fresh-2()
