.form-subscribe
    display none
    +above(1152px)
        display block
        width 370px

    &__title
        color white
        font()
        font-size 15px
        line-height 1
        margin 0 0 22px

    &__input
        display block
        width 270px
        height 40px
        background-color #20478c
        border none
        outline none
        color #fff
        font()
        font-size 15px
        line-height 40px
        padding 0 22px
        margin 0

        &::-webkit-input-placeholder
            color #627eaa
            opacity 1
        &::-moz-placeholder
            color #627eaa
            opacity 1
        &:-moz-placeholder
            color #627eaa
            opacity 1
        &:-ms-input-placeholder
            color #627eaa
            opacity 1
        &:input-placeholder
            color #627eaa
            opacity 1

        &:-webkit-autofill
            -webkit-box-shadow inset 0 0 0 50px rgba(32,71,140,1) !important
            background-color #20478c !important
            -webkit-text-fill-color #627eaa !important
            color #627eaa !important

    label.invalid-field
        position absolute
        top 90px
        left 20px
        padding 0
        margin 0
        text-align left

    &__button
        display block
        width 70px
        height 40px
        outline none
        border none
        background-color white
        color #1a4382
        font(Extra)
        font-size 15px
        letter-spacing .025em
        line-height 40px
        text-transform uppercase
        text-align center
        transition all .3s ease
        position absolute
        bottom 0
        right 0
        margin 0
        cursor pointer
        &:hover
            color white
            background-color #faa927

